* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  

}

/* LAYOUT */
.Flex {

    display: flex;
    justify-content: space-between;

}

.Flex2 {

    display: flex;
    flex-direction: column-reverse;

}

.Flex3 {

    display: flex;
    flex-direction: column;

}

/* Smartphone Portrait */
header {

    height: 60px;
    background-color: #fccf67;

}

#logo img {

    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;

}

#check {

    display: none;

}

label {

    font-size: 3em;
    margin-right: 10px;
    position: fixed;
    right: 5px;


}

nav ul {

    position: fixed;
    top: 60px;
    background-color: #343538;
    height: 100vh;
    list-style: none;
    width: 100%;
    right: -100%;
    transition: all 1s;

}

#check:checked~ul {

    right: 0;

}

nav ul li {

    border-bottom: 1px solid #a9a9a9;
    padding: 20px;
    text-align: center;

}

nav ul li a {

    text-decoration: none;
    color: #fff;
    font-weight: 600;

}

main {

    height: 80vh;
    background-color: #f42e17;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

}

main h1 {

    color: #fff;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;

}

main p {

    padding: 0px 50px 0px 50px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;

}

main br {

    display: none;

}

#imgConteudo img {

    height: 200px;
    width: 200px;
    border-radius: 50%;

}

#comidas {

    text-align: center;

}

#comidasTexto {

    text-align: center;
    padding: 15px;
    font-size: 2em;

}

#topo {

    position: fixed;
    right: 10px;
    bottom: 10px;

}

.Cards {

    display: flex;
    overflow-x: scroll;
    margin-bottom: 30px;

}

.Cards a {

    text-decoration: none;
    color: #000;

}

#card {

    border: 1px solid #a9a9a9;
    width: 250px;
    height: 540px;
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: 20px;

}

#card img {

    border-radius: 30px 30px 0px 0px;
    margin-bottom: 10px;

}

#card p {

    padding: 15px;

}

#card h4 {

    margin-bottom: 5px;

}

#card:hover {

    border-color: #f00;

}

#BatataRecheada {

    height: 350px;
    width: 250px;

}

#batatarecheadatexto {

    margin-top: 10px;

}

#combo01 {

    height: 350px;
    width: 250px;

}

#combo01texto {

    margin-top: 18px;

}

#bolinhasdequeijo {

    height: 350px;
    width: 250px;

}

#bolinhasdequeijotexto {

    margin-top: 27px;

}

#pastelazeitona {

    height: 350px;
    width: 250px;

}

#pastelazeitonatexto {

    margin-top: 25px;

}

#pastelcarnedesol {

    height: 350px;
    width: 250px;

}

#pastelcarnedesoltexto {

    margin: 5px;

}

#pastelcarnemoida {

    height: 350px;
    width: 250px;

}

#pastelcarnemoidatexto {

    margin-top: 5px;

}

#pastelfrango {

    height: 350px;
    width: 250px;

}

#pastelfrangotexto {

    margin-top: 28px;

}

#pastelmisto {

    height: 350px;
    width: 250px;

}

#pastelmistotexto {

    margin-top: 28px;

}

#pastelmisto2 {

    height: 350px;
    width: 250px;

}

#pastelmisto2texto {

    margin-top: 20px;

}

#PastelDoce {

    height: 350px;
    width: 250px;

}

#PastelDoceTexto {

    margin-top: 25px;

}

#botao {

    background-color: #f00;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
    border: 2px solid #a9a9a9;
    text-decoration: none;
    color: #fff;

}

#bebidas {

    align-items: center;
    text-align: center;

}

#bebidas h2 {

    padding: 15px;
    border-top: 1px solid #000;
    margin-top: 50px;

}

#CervejaBudweiser {

    height: 350px;
    width: 250px;

}

#CervejaBudweiserTexto {

    margin-top: 20px;

}

#CervejaHeineken {

    height: 350px;
    width: 250px;

}

#CervejaHeinekenTexto {

    margin-top: 20px;

}

#CervejaItaipava {

    height: 350px;
    width: 250px;   

}

#CervejaItaipavaTexto {

    margin-top: 20px;

}

#CervejaSkol {

    height: 350px;
    width: 250px;   

}

#CervejaSkolTexto {

    margin-top: 20px;

}

#CocaColaLata {

    height: 350px;
    width: 250px;   

}

#CocaColaLataTexto {

    margin-top: 20px;

}

#CocaColaSemAçucarLata {

    height: 350px;
    width: 220px;   

}

#CocaColaSemAçucarLataTexto {

    margin-top: 20px;

}

#FantaLaranja {

    height: 350px;
    width: 250px;   

}

#FantaLaranjaTexto {

    margin-top: 20px;

}

#FantaUva {

    height: 350px;
    width: 250px;

}

#FantaUvaTexto {

    margin-top: 20px;

}

#GuaranaAntarctica {

    height: 350px;
    width: 250px;

}

#GuaranaAntarcticaTexto {

    margin-top: 20px;

}

#Pepsi {

    height: 350px;
    width: 150px;

}

#PepsiTexto {

    margin-top: 25px;

}

#Redbull {

    height: 330px;
    width: 150px;
    margin-top: 10px;

}

#RedBullH3Texto {

    margin-top: 10px;

}

#RedbullTexto {

    margin-top: 25px;

}

#Tampico {

    height: 350px;
    width: 250px;

}

#TampicoTexto {

    margin-top: 25px;

}

#doces {

    align-items: center;
    text-align: center;

}

#doces h2 {

    margin-top: 50px;
    border-top: 1px solid #000;
    padding: 15px;

}

address {

    margin-top: 50px;

}

#contato {

    padding: 30px;
    background-color: #808080;
    color: #fff;
    font-weight: 800;

}

#contatos p {

    margin-bottom: 15px;

}

#localImg {

    height: 40px;
    width: 25px;

}

#endereco p {

    margin-bottom: 5px;

}

#endereco a {

    text-decoration: none;
    color: #fff;

}

#endereco a img {

    margin-top: 10px;

}

footer {

    background-color: #343538;
    padding: 60px;
    color: #fff;

}

#footerTexto {

    margin-bottom: 15px;

}

#googlemaps iframe {

    display: none;

}

#googlemaps img {

    margin-bottom: 10px;

}

#h3Texto {

    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;

}

#alpino {

    height: 180px;
    width: 230px;
    margin-top: 40px;

}

#ChocolateNestleLacta {

    height: 250px;
    width: 250px;

}

#ChocolateOuroBrancoLacta {

    height: 150px;
    width: 230px;
    margin-top: 65px;
    margin-left: 20px;

}

#DiamanteNegro {

    height: 150px;
    width: 230px;
    margin-top: 50px;

}

#ChocolateMM {

    height: 150px;
    width: 230px;
    margin-top: 50px;

}

#Nutella {

    height: 230px;
    width: 200px;
    margin-top: 10px;

}

#h3Alpino {

    margin-top: 30px;
    margin-bottom: 23px;

}

#h3ChocolateAoLeite {

    margin-bottom: 23px;

}

#h3ouroBranco {

    margin-top: 35px;

}

#h3ChocolateBranco {

    margin-bottom: 23px;

}

#h3DiamanteNegro {

    margin-top: 50px;
    margin-bottom: 10px;

}

#h3MM {

    margin-top: 50px;
    margin-bottom: 23px;

}

#h3Oreo {

    margin-top: 10px;
    margin-bottom: 23px;

}

#h3Prestigio {

    margin-top: 10px;
    margin-bottom: 23px;

}

#h3SonhoDeValsa {

    margin-top: 10px;

}

#h3Nutella {

    margin-top: 20px;
    margin-bottom: 20px;

}

/* Smartphone Landscape */
@media (min-width: 576px){
    .Container{
    max-width: 540px;
    }

main {

    height: 100vh;

}

footer {

    text-align: center;

}

}


/* Tablet Portrait */
@media (min-width: 768px){
    .Container{
    max-width: 720px;
    }



}
    
/* Tablet Landscape */
@media (min-width: 992px){
    .Container{
    max-width: 960px;
    }



}
    
/* PC */
@media (min-width: 1200px){
.Container{
max-width: 1140px;
}

#logo img {

    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;

}

header {

    height: 120px;

}

label {

    display: none;

}

nav ul {

    position: relative;
    height: auto;
    background-color: transparent;
    top: 35px;
    left: 160px;
    
}

nav ul li {

    border: 0;
    float: left;
    align-items: flex;

}

nav ul li a {

    color: #343538;

}

nav ul li a:hover {

    color: #c00000;

}

.Cards {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;

}

#googlemaps iframe {

    display: inline;

}

#googlemaps img {

    display: none;

}

.Flex2 {

    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;

}

.Flex3 {

    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

}   